*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: blue; */
    background-image: url("https://www.setaswall.com/wp-content/uploads/2017/06/Village-Wallpapers-30-1366-x-768.jpg");

}
header {
    /* margin-top: 10px; */
    display: flex;
    justify-content: center;
    padding: 10px;
    /* background-color:blue; */
    background: skyblue;
    opacity: 0.5;
    
}


header h2{
    display: flex;
    justify-content: center;
}
h1{
    color:blue;
}
.head h2{
    display: flex;
    /* justify-content: center; */
    margin-left: 20px;
    font-size: 22px;
    margin-left:30px;
    border: 2px solid white;
    background-color: white;
    border-radius: 8px;
    margin-top: 10px;
    width:fit-content;
    opacity: .5;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
}
h2{
    color: aliceblue;
}
h2:hover{
    color: green;
    background: blanchedalmond;
}
.board{
    height:130px;
    width: 260px;
    margin: 10px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 23px;
    border-radius: 5px;
    padding: 20px;
    background-image: url("https://www.w3schools.com/css/img_lights.jpg");
    
}

.create-board{
    height:130px;
    width: 260px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    background-color: blue;
    padding: 20px;
    background-image: url("https://www.w3schools.com/css/img_lights.jpg");
    color: white;
    border-radius: 5px;
}
button:hover{
    display: flex;
}

.board-container{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.popup-container{
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
}
.popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:15%;
    height: 200px;
    width: 240px;
    background-color: rgb(165, 141, 161);
    
}
.input-name{
    height: 30px;
    width:200px;
    /* margin-left: 30px; */
}
/* .btn{
    display: flex;
    justify-content: space-between;
    height: 25px;
    color: green;
    
   
}
.btn-height{
    width: 60px;
} */
.delete{
    cursor: pointer;
    font-size: 30px;
    
}
.delete:hover{
    font-size: 36px;
}
.boardName{
    font-size: 22px;
    margin-left: 20px;
    color: white;
}
/* .cancel{
    margin-left: 80px;
    margin-right: 40px;
}
.create{
    margin-left: 40px;
} */
/* 
button{
    background-color: green;
    padding: 5px;
    height: 40px;
    width: 60px; 
   border-radius: 5px;
   cursor: pointer;
} */

button {
    /* background-color: #4CAF50; */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background: transparent;
   
  }
  /* button:hover{
    display: none;
} */
  .btn button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  
  }
input{
    height: 70px;
    background-color: purple;
    margin: 10px;
    border: red 2px solid;
    border-radius: 5px;
}
